/*
	Syntax for CSS

	Selector {
		property: value;
	}


*/

* {
	font-family: "Roboto", sans-serif;
}

h1, p {
	font-family: "Montserrat", sans-serif;
}


#profile {
	height: 250px;
	width: 250px;

	/*Optional	*/
	border-radius: 50%;
}

#landing {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #E2E2E2;
}

footer{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.fa-globe, .fa-facebook, .fa-twitter, .fa-instagram, .fa-tiktok, .fa-youtube {
	font-size: 25px;
	color: white;
	margin: 0 10px 0 10px;
}

.fa-globe:hover, .fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-tiktok:hover, .fa-youtube:hover {
	color: gray;
}


body {
	background-color: #344C67;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23344C67' cx='50' cy='0' r='50'/%3E%3Cg fill='%2336516e' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23395675' cx='50' cy='100' r='50'/%3E%3Cg fill='%233b5b7c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d6084' cx='50' cy='200' r='50'/%3E%3Cg fill='%233f658b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23416b92' cx='50' cy='300' r='50'/%3E%3Cg fill='%2342709a' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%234475a1' cx='50' cy='400' r='50'/%3E%3Cg fill='%23467ba9' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%234780b0' cx='50' cy='500' r='50'/%3E%3Cg fill='%234986b8' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%234a8cc0' cx='50' cy='600' r='50'/%3E%3Cg fill='%234b91c7' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%234c97cf' cx='50' cy='700' r='50'/%3E%3Cg fill='%234d9dd7' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%234ea2df' cx='50' cy='800' r='50'/%3E%3Cg fill='%234ea8e7' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%234faeef' cx='50' cy='900' r='50'/%3E%3Cg fill='%234fb4f7' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%234FBAFF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: contain;
}
